.wrap {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 20px;
  }
}

.news {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    display: block;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;

    &:hover img {
      transform: scale(1.1);
    }

    article {
      position: relative;
      height: 100%;
    }
  }
}

div.photo {
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: 1s;
  box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);

  &::before {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000 0%, transparent 50%);
    transition: 0.6s;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.6s;
  }
}

.details {
  position: absolute;
  width: 100%;
  padding: 20px 25px;
  bottom: 0;
  color: white;
  z-index: 2;

  p {
    font-size: 12px;
  }

  h3 {
    margin: 3px 0 0 0;
    font-weight: 400;
    text-align: left;
  }

}

.news a:hover div.photo::before {
  background-color: rgba(21, 36, 66, 0.15)
}

@media (min-width: 640px) {
  .news a {
    width: 50%;
    padding: 0px 10px;
  }
}

@media (min-width: 844px) {
  .news a {
    max-width: calc(1240px /3);
  }

}