* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

:root {
  --navHeight: 45px;
  --menuHeight: 60px;
  --navElements: 7;
}

h2 {
  margin: 40px 0 10px 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  color: #005CA9;
}

.resize-transition-stopper * {
  animation: none !important;
  transition: none !important;
}