.menu {
  max-width: 1280px;
  margin: 0 auto;
  width: 50%;
  position: fixed;
  z-index: 10;
  top: var(--navHeight);
  bottom: 0;
  right: 0;
  overflow: hidden;
  transform: translateX(105%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.33);
  transition: transform 0.4s ease;

  &.active {
    transform: translateX(0%);
  }

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {

      display: flex;
      justify-content: center;
      text-decoration-line: none;
      transition: 0.3s;
      color: #005CA9;

      &:first-child li {
        border-top: none;
      }

      &:hover {
        color: white;
        background-color: #005CA9;
        box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.75);
      }

      li {
        width: 90%;
        line-height: calc((100vh - 3* var(--navHeight)) / var(--navElements));
        border-top: rgba(0, 93, 169, 0.75) solid 0.5px;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
      }

    }
  }
}

@media (min-width: 992px) {
  .menu {
    margin: 0 auto;
    width: 100%;
    position: static;
    height: var(--menuHeight);
    box-shadow: none;
    transition: none;
    transform: none;

    ul {
      flex-direction: row;

      a {
        flex-grow: 1;
        border-left: rgba(0, 93, 169, 0.75) solid 0.5px;

        &:first-child {
          border-left: none;
        }

        li {
          height: var(--menuHeight);
          margin: 0px auto;
          line-height: var(--menuHeight);
          border: none;
        }
      }
    }
  }
}