.button {
  margin: 10px 0;
  width: 144px;
  height: 45px;
  background-color: white;
  color: #005CA9;

  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 45px;
  border: none;
  transition: 0.3s;

  &:hover {
    color: white;
    background-color: #005CA9;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }
}